

.box input[type='text']{
	color: rgb(22, 22, 22);
	background: transparent;
	padding: 6px 0;
	line-height: 16px;
	outline: none;
	border: none;
	border-bottom: 3px solid rgb(52,152,219);
	font-family: sans-serif;
	position: relative;
	font-size: 16px;
	display: block;
	height: 25px; 
	width: 50%;
}

input[type='text']:focus {
	border-color: rgb(46,217,117);
    width: 50%;
}